[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
falcon = "*"
gunicorn = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pylint = "*"
sendgrid = "*"
urllib3 = ">=1.26.5"
jinja2 = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
bs4 = "*"

[requires]
python_version = "3.7"
